<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">

    <!-- Bootstrap4 styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Квест: {{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"/>

    {% block scripts %}{% endblock %}

</head>
<body>
<div class="container">
    {% block content %}

        <div class="jumbotron">
            <h1>{{ title if title else "Квест" }}</h1>
        </div>

        <!-- application content -->
        {% block app_content %}{% endblock %}

        <!-- navigation list -->
        <hr>

        <ul class="nav">
            <!-- navigation list items -->
            {% block nav_list_items %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('select_game') }}">Выбрать игру</a></li>
                {% if links %}
                    {% for href, label in links %}
                        <li class="nav-item"><a class="nav-link" href="{{ href }}">{{ label }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </ul>

    {% endblock %}
</div>
</body>
</html>
