{% extends "base.html" %}

{% block app_content %}
    <form action="{{ action }}" method="post">
        {{ form.csrf_token() }}
        {% for field in form if not field.name in ("csrf_token", "submit", "quit") %}
            <h4>{{ field.label() }}</h4>
            <p>{{ field }}
                {% for error in field.errors %}
                    <br><span class="error">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}
        <p>
            {{ form.submit(class_="btn btn-primary") }}
            {{ form.quit(class_="btn") }}
        </p>
    </form>
{% endblock %}
