{% extends "base.html" %}

{% block app_content %}

    <ul>
        <li>Игрок может двигаться вперед, назад, вправо или влево.</li>
        <li>За раз игрок может попробовать пройти от одного до ста шагов в одном направлении.</li>
        <li>За один ход игрок проходит выбранное количество шагов в выбранном направлении,
            если не встретиться препятствие.
        </li>
        <li>В случае возникновения препятствия игрок останавливается перед ним.</li>
        <li>После очередного ходя игрок может проиграть, выиграть или имеет возможность сделать
            очередной ход, в зависимости от того, в какое место он попал в результате хода.
        </li>
    </ul>

{% endblock %}