{% extends "base.html" %}

{% block app_content %}
    <ul>
        <li>
            [+] Проект должен находиться на git или в облачном хранилище, чтобы другие участники смогли его скачать и
            протестировать. Виртуальную среду в папку не помещайте и лишние файлы уберите.
        </li>
        <li>
            [-] К проекту должно быть небольшое пояснение: что он делает, как с ним работать и другие уместные
            примечания.
        </li>
        <li>
            [+] Проект должен запускаться и не выдавать критических ошибок во время работы.
        </li>
        <li>
            [+] Должен присутствовать базовый шаблон, примененный к другим страницам.
        </li>
        <li>
            [+] Используйте html-теги, где это уместно. Не нужно создавать профессиональную верстку этот курс о
            серверной
            разработке.
        </li>
        <li>
            [+] В проекте необходимо применить css. Для этого можете использовать готовые стили из интернета. Например,
            Bootstrap 3. Насколько хорошо выглядит сайт оцениваться не будет. Задача в том, чтобы подключить какие-либо
            используемые стили к тегам. Изображения тоже приветствуются.
        </li>
        <li>
            [+] В программе должно использоваться расширение Flask-WTF и присутствовать как минимум одна форма,
            наследуемая
            от класса FlaskForm.
        <li>
            <p>[+] Необходимо применить как минимум 4 различных поля (SubmitField принимаем за одно из полей).</p>
            <p><code>http://127.0.0.1:5000/next-step</code></p>
            <pre>
&lt;!-- next step form --&gt;
&lt;input id="csrf_token"...&gt;
&lt;select id="direction" ...&gt;
&lt;input id="distance" ...&gt;
&lt;input id="submit" ...&gt;</pre>
            <p>Для удобного просмотра исходного кода страницы, запустите приложение в режиме отладки <code>FLASK_DEBUG=1</code></p>
        </li>
        <li>
            <p>[+] Должно присутствовать как минимум 2 разных валидатора и их применение должно быть обосновано.</p>
            <p><code>app/forms.py</code></p>
            <pre>
class GameForm(FlaskForm):
    # ...
    distance = IntegerField(
        # ...
        validators=(
            InputRequired(),
            NumberRange(min=1, max=100, message="За раз вы можете сделать от 1 до 100 шагов")
        )</pre>
        </li>

        <li>
            <p>[+] В проекте должно находиться как минимум две функции представления: должен быть как статический, так и
                динамический маршруты.</p>
            <p><code>app/routes.py</code></p>
            <pre>
# динамический маршрут
@app.route("/start/&lt;game_name&gt;")
@required_session
def start_game(contex, game_name):
    # ...</pre>
        </li>
        <li>
            [+] Одна из функций представления должна иметь возможность срабатывать на POST-запрос.
        </li>
        <li>
            [?] Код в проекте цельный и логически завершенный.
        </li>
    </ul>
{% endblock %}